TUPLAS

In [1]:
T = ('DAVID', 'Z', 'ESTUDIANTE', 21, [111111111])

In [2]:
T

('DAVID', 'Z', 'ESTUDIANTE', 21, [111111111])

In [4]:
T[0]

'DAVID'

In [6]:
print('Nombre:',T[0],'Apellido:', T[1], 'Ocupacion:', T[2], 'Edad:', T[3], 'Codigo:', T[4])

Nombre: DAVID Apellido: ZEPEDA Ocupacion: 'ESTUDIANTE', 21, [111111111])

In [7]:
len(T)

5

In [11]:
T.index('DAVID')

0

In [15]:
T.count(21)

1